.folder{
	border: black 2px solid;
	border-radius: 40px;
	clip-path: polygon(0 0, 41% 0, 54% 16%, 100% 17%, 100% 100%, 0 100%);

	font-family: "Bebas Neue";
	font-size: 140px;
	background-color: aqua;
}