header{
	/* width: 100%; */
	position: relative;
}

nav{
	font-family: "roboto mono";
	font-size: 17px;
}

nav a{
	padding-top: 10px;
}

.tab{
	content:'';
	position: absolute;
	top: -30px;
	/* border-bottom: 33px solid transparent; */
	border-left: 0px solid transparent;
	/* border-right: 28px solid transparent; */
	height: auto;
	width: 25%;
	padding-left: 15px;
	z-index:0;
}

#tab0{
	content:'';
	position: absolute;
	/* top: -30px; */
	left:0%;
	border-bottom: 33px solid gray;
	border-left: 0px solid transparent;
	border-right: 28px solid transparent;
	height: 0;
	width: 25%;	/* z-index: 1; */
}

#tab1{
	content:'';
	position: absolute;
	/* top: -30px; */
	left:25%;
	border-bottom: 33px solid #592BFF;
	border-left: 0px solid transparent;
	border-right: 28px solid transparent;
	height: 0;
	width: 25%;
	/* z-index: 1; */
}

#tab2{
	content:'';
	position: absolute;
	/* top: -20px; */
	left:50%;
	border-bottom: 33px solid #93FD65;
	border-left: 0px solid transparent;
	border-right: 28px solid transparent;
	height: 0;
	width: 25%;
	/* z-index: 1; */
}

#tab3{
	content:'';
	position: absolute;
	/* top: -20px; */
	left:75%;
	border-bottom: 33px solid #DD3DFD;
	border-left: 0px solid transparent;
	border-right: 28px solid transparent;
	height: 0;
	width: 25%;
	/* z-index: 1; */
}
h1{
	font-family: "Bebas Neue";
	color: black;
	line-height: 0.9;
	align-items: baseline;
	display: block;
}

.title-container0{
	display: flex;
	flex-direction: row;
	background-color:#DD3DFD;

	width: 100%;
	height: auto;
	
	position: relative;
	line-height: 110px;
	padding:45px 30px 1px 30px;
	margin: 30px 30px 0px 0px;
	z-index:3;
	overflow-x: clip; 
	text-wrap: nowrap;
}

.title-container1{
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
	margin-bottom: 0;
	line-height: 120px;
	/* align-items: center;
	justify-content: center;
	width: fit-content; */
}

.title-container3{
	background-color:#DD3DFD;
	padding-left: 30px;
	padding-right: 20px;
}

.big-size{
	font-size: 140px;
	display:block;
}

.small-size{
	font-size: 140px;
	display:block;
}

/* .icon{
	font-size: 225px;
	display:block;
	padding-left: 120px;
} */




.author{
	width: 100%;
	background-color: #DD3DFD;
	padding-bottom: 30px;
	padding-top: 10px;
}

.author-name{
	border-radius: 0%;
	border:2px solid #333;
	/* margin-left: 35px; */
	font-family: "Roboto Mono";
	font-size: 17px;
	word-spacing: -6px;
	padding: 5px;
	/* padding-bottom: -50px; */
	/* z-index: 10; */
}

.description{
	font-family: "roboto mono";
	color: black;
	font-size: 15px;
	margin: 0;
	padding-bottom: 20px;
}

.text-on-folder{
	background-color: #DD3DFD;
}

h2{
	font-size: 30px;
	font-family: "Bebas Neue";
	padding-left: 20px;
}


.container{
	top: -1px;
	z-index: 1;
	background-color: white;
	border-bottom: 6px solid;
	/* height: 40px; */
	/* white-space: nowrap; */
	border-radius: 0%;
	border-left: 30px solid;
	position:relative;
	position: sticky;
	margin: 0;
}

.title1{
	color: #6E0084;
	border-color: #6E0084;
}
.title2{
	color: #850B9D;
	border-color: #850B9D;
}
.title3{
	color: #A112BE;
	border-color: #A112BE;
}
.title4{
	color: #B714D7;
	border-color: #B714D7;
}
.title5{
	color: #D020F3;
	border-color: #D020F3;
}
.title6{
	color: #DC4AF9;
	border-color: #DC4AF9;
}
.title7{
	color: #E97CFF;
	border-color: #E97CFF;
}

p{
	font-family: "Roboto";
	padding: 30px 30px 0px 60px;
	/* margin-bottom: 40px; */
	/* margin-top: 20px; */
	line-height: 1.5em;
}

p:last-child{
	padding-bottom: 60px;
}

blockquote{
	margin: 12px;
	color: white;
}

.quote{
	padding: 10px 10px 10px 10px;
	background-color: #DD3DFD;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	box-shadow: 10px 10px 5px #E97CFF;
}

footer{
	content: '';
	font-family: "roboto mono";
	font-size: 17px;
	position: relative;
	border: 2px solid black;
	padding: 5px;
	margin: 30px 30px 60px 55px;
	width: 200px;
	text-wrap: nowrap;
}

@media (min-width:500px){

	.quote{
		width: 50vw;
		float: right;
		display: block;
		/* margin: 5%; */
		margin: 20px 100px 0px 0px;
		box-shadow: 10px 10px 5px #E97CFF;
	}

	p{
		display: inline-block;
		margin-left: 5%;
		margin-right: 5%;
		max-width: 700px;
		font-family: "roboto";
	}

	h1{
		font-family: "Bebas Neue";
		color: black;
		line-height: 0.9;
		align-items: baseline;
		display: block;
	}
	
	.title-container0{
		display: flex;
		flex-direction: row;
	
		background-color:#DD3DFD;
	
		width: 100%;
		height: auto;
		
		position: relative;
		/* margin-top:30px; */
		line-height: 110px;
		padding:10px 30px 1px 30px;
		margin: 30px 30px 0px 0px;
		/* padding-left: 20px; */
		/* margin-bottom: 20px; */
		z-index:3;
		overflow-x: clip; 
		text-wrap: nowrap;
		/* width: 100vw; */
	}

	.title-container1{
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
		margin-bottom: 0;
		line-height: 195px;
		/* align-items: center;
		justify-content: center;
		width: fit-content; */
		padding-top: 35px;
	}
	
	
	.big-size{
		font-size: 240px;
		display:block;
	}
	
	.small-size{
		font-size: 240px;
		display:block;
	}
	
	.header-container{
		display: flex;
		flex-direction: row;
	
		background-color:#DD3DFD;
	
		width: 100%;
		height: auto;
		
		position: relative;
		/* margin-top:30px; */
		line-height: 110px;
		padding:10px 30px 30px 100px;
		margin: 30px 30px 0px 0px;
		/* padding-left: 20px; */
		/* margin-bottom: 20px; */
		z-index:3;
		overflow-x: clip; 
		/* text-wrap: nowrap; */
		/* width: 100vw; */
	}

	.title-container3{
		padding: 30px 30px 30px 0px;
		max-width: 450px;
		margin-right: 90px;
		/* transform: translateY(34%); */
		/* text-wrap: normal; */
	}
	
	.author{
		width: 100%;
		background-color: #DD3DFD;
		padding-bottom: 0px;
		padding-top: 10px;
	}
	
	.description{
		line-height: normal;
	}

	h2{
		font-size: 40px;
	}

	.container{
		position: sticky;
		top: -1px;
		display: flex;
		flex-direction: row;
		border-left: none;
	}

	.tab-1{
		width: 34px;
		background-color: #6E0084;
	}

	.title1{
		color: #6E0084;
		font-size: 24px;
		font-family: "Bebas Neue";
		white-space: nowrap;
		border-radius: 0%;
		border-bottom: 6px solid;
		border-color: #6E0084;
		background-color: white;
		position:relative;
		margin: 0;
		z-index: 1;
		position: sticky;
	}

	.tab-2{
		width: 34px;
		background-color: #850B9D;
	}
	.title2{
		color: #850B9D;
		white-space: nowrap;
		border-radius: 0%;
		border-bottom: 6px solid;
		border-color: #850B9D;
		background-color: white;
		position:relative;
		margin: 0;
		z-index: 2;
		position: sticky;
	}

	.tab-3{
		width: 34px;
		background-color: #A112BE;
	}

	.title3{
		color: #A112BE;
		font-size: 24px;
		font-family: "Bebas Neue";
		white-space: nowrap;
		border-radius: 0%;
		border-bottom: 6px solid;
		border-color: #A112BE;
		background-color: white;
		position:relative;
		margin: 0;
		position: sticky;
		z-index: 3;
	}

	.tab-4{
		width: 34px;
		background-color: #B714D7;
	}

	.title4{
		color: #B714D7;
		font-size: 24px;
		font-family: "Bebas Neue";
		white-space: nowrap;
		border-radius: 0%;
		border-bottom: 6px solid;
		border-color: #B714D7;
		background-color: white;
		position:relative;
		margin: 0;
		position: sticky;
		z-index: 3;
	}

	.tab-5{
		width: 34px;
		background-color: #D020F3;
	}

	.title5{
		color: #D020F3;
		font-size: 24px;
		font-family: "Bebas Neue";
		white-space: nowrap;
		border-radius: 0%;
		border-bottom: 6px solid;
		border-color: #D020F3;
		background-color: white;
		position:relative;
		margin: 0;
		position: sticky;
		z-index: 3;
	}

	.tab-6{
		width: 34px;
		background-color: #DC4AF9;
	}

	.title6{
		color: #DC4AF9;
		font-size: 24px;
		font-family: "Bebas Neue";
		white-space: nowrap;
		border-radius: 0%;
		border-bottom: 6px solid;
		border-color: #DC4AF9;
		background-color: white;
		position:relative;
		margin: 0;
		position: sticky;
		z-index: 3;
	}

	.tab-7{
		width: 34px;
		background-color: #E97CFF;
	}

	.title7{
		color: #E97CFF;
		font-size: 24px;
		font-family: "Bebas Neue";
		white-space: nowrap;
		border-radius: 0%;
		border-bottom: 6px solid;
		border-color: #E97CFF;
		background-color: white;
		position:relative;
		margin: 0;
		position: sticky;
		z-index: 3;
	}

	footer{
		content: '';
		font-family: "roboto mono";
		font-size: 17px;
		position: relative;
		border: 2px solid black;
		padding: 5px;
		margin: 30px 30px 60px 120px;
		width: 200px;
		text-wrap: nowrap;
	}
}